body{
  font-family: "Lato";
  background-color: #E9E9E9;
}

.widget {
  text-align: center;
  height: 100%;
  position: relative;
}

.widget .status {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 36px;
    border-top: 1px solid #EFEFEF;
}

.header {
    width: 100%;
    height: 42px;
    position: relative;
}

.widget .entypo-social {
  line-height: 42px;
  color: #EFEFEF;
  font-size: 134px;
}

.widget .status div {
  float: left;
  display: block;
  height: 100%;
  padding-left: 12px;
  line-height: 36px;
  color: #ABABAB;
}

.widget .status div.cw {
    color: #51C5A2;
}

.widget .status div.warning {
    color: #F16771;
}

li {
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;

 list-style: none;
 background-color: white;
}

.widget h1, .widget h2 {
  color: #0A0B01;
}

.widget h1 {
  margin: 0;
  font-size: 16px;
  line-height: 42px;
  background-color: #363636;
  color: #FFF;
  font-family: "Montserrat", "HelveticaNeue", Helvetica, Arial;
  font-weight: normal;

  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.widget.twitter h1 {
  background-color: #00BEF5;
}

.widget.facebook h1 {
  background-color: #456BAC;
}

.widget h2 {
  font-size: 78px;
  margin: 58px 0 12px;
  line-height: 78px;
  font-family: "Montserrat", "HelveticaNeue", Helvetica, Arial;
}

.widget .more-info {
  font-family: "Montserrat", "HelveticaNeue", Helvetica, Arial;
  font-size: 16px;
}


.widget p {
  height: 100%;
  margin: 0;
  font-size: 14px;
  line-height: 36px;
}

.sign {
    position: absolute;
    bottom: 52px;
    width: 100%;
    height: 36px;
}
